 .worksampletypes {
    .arbetsprover-grid {
      padding-top: 10px;
      padding-bottom: 100px;
      display: grid;
      grid-template-columns:
        minmax(280px, 1fr) minmax(280px, 1fr) minmax(280px, 1fr)
        minmax(280px, 1fr);
    }
    .worksampletype {
      color: $color-nav-text;
      text-decoration: none;
      width: 203px;
      font-family: Arial, Helvetica, sans-serif;
      transition: background-color 0.3s ease;
      padding: 15px;
      margin: -15px;
      border-radius: 8%;
      &:hover {
        background-color: rgba(213, 217, 200, 0.4);
      }
    }
  } 
    .pictures {
      max-width: 210px;
      height: 108px;
      border-radius: 5px;
    }
    p {
      color: #061d25;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    }
    @media (min-width: 375px) and (max-width:992px) {
      .worksampletypes {
        text-align: center;
        .arbetsprover-grid {
          display: block;
          text-align: center;
          width: min-content;
          margin: 0 auto;
        }
      }
    }
    



