footer {
  .container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(
        350px,
        1fr
      );
    gap: 40px;

    .tel,
    .email {
      font-size: 16px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      display: grid;
      margin-top: 35px;
    }

    .tele,
    .emejl {
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      line-height: 0.5;
    }

    .imagen {
      float: left;

      margin-bottom: 30px;
    }

    ul {
      padding: 0;
      margin: 0;
      margin-top: 20px;
      a {
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        display: block;
      }
    }
    h2 {
      color: black;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      width: 366px;
    }
  }
}
.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.lista {
  list-style-type: none;
}
.newsletter {
  form {
    display: flex;
    justify-content: space-between;
  }
  width: 95%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px 5px 5px 20px;
  margin: 40px 0;
  input {
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
  }
  button {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #061d25;
    width: 108px;
    height: 37px;
  }
}

.newsletter2{
  form {
    display: flex;
    justify-content: space-between;
  }
  width: 95%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px 5px 5px 20px;
  margin: 40px 0;
  
  button {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #061d25;
    width: 108px;
    height: 37px;
  }
  input {
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
  }
}
@media (min-width: 375px) and (max-width: 576px) {
  footer {
    .container {
      padding-top: 100px;
      display: block;
      gap: 40px;
      width: fit-content;
      p {
        line-height: 25px;
      }
      .imagen {
        float: none;
      }
      .column2,
      .column3 {
        margin-top: 30px;
        width: fit-content;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  footer {
    .container {
      padding-top: 100px;
      display: block;
      gap: 40px;
      width: fit-content;
      p {
        line-height: 25px;
      }
      .imagen {
        float: none;
      }
      .column2,
      .column3 {
        margin-top: 30px;
        width: fit-content;
      }
    }
  }
}


