.hero {
  padding: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    .left {
      .bild {
        width: 100%;
        height: auto;
        margin-right: 120px;
      }
    }
    .right {
      h1 {
        font-size: 20px;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
      }
      p {
        font-size: 16px;
        width: fit-content;
        line-height: 25px;
      }
      a {
        color: #bf5933;
      }
      .newsletter {
        form {
          display: flex;
          justify-content: space-between;
        }
        width: 95%;
        border-radius: 8px;
        border: 2px solid black;
        padding: 5px 5px 5px 20px;
        margin: 40px 0;
        input {
          font-family: Helvetica, Arial, sans-serif;
          border: none;
          outline: none;
          font-size: 15px;
          background: transparent;
        }
        button {
          padding: 10px 16px;
          border: none;
          cursor: pointer;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
          border-radius: 6px;
          color: #ffffff;
          background-color: #061d25;
          width: 115px;
          height: 40px;
        }
      }
    }
  }
}

@media (min-width: 344px) and (max-width: 992px){
  .newsletter {
    form {
      display: flex;
      justify-content: space-between;
    }
    width: 95%;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px 5px 5px 20px;
    margin: 40px 0;
    input {
      font-family: Helvetica, Arial, sans-serif;
      border: none;
      outline: none;
      font-size: 15px;
      background: transparent;
    }
    button {
      padding: 10px 16px;
      border: none;
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      border-radius: 6px;
      color: #ffffff;
      background-color: #061d25;
      width: 115px;
      height: 40px;
    }
  }
  .hero {
    .container {
      .left {
        .bild {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}




