.logos {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
    margin-bottom: 50px;
  }
  img {
    width: 100%;
    max-width: 120px;
    height: auto;
  }
}

@media (min-width: 375px) and (max-width: 992px) {
  .logos {
    .container {
      margin-top: 100px;
      margin-bottom: 100px;
      gap: 20px;
      padding: 0;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .logos{
    .container{
      margin-bottom: 100px;
    }
  }
}

