.posts {
  .posts-grid {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
    grid-gap: 20px;
    max-width: 1020px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .grid-item {
    text-align: left;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 25px;
    border-radius: 15px;
    line-height: 2;
    &:hover {
      background-color: rgba(213, 217, 200, 0.4);
    
    }
    .post-title{
      text-align: left;
      font-size: 16px;
      
    }
    .texter {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      h2 {
        font-weight: bold;
        font-size: 17px;
        text-align: left;
      }

      p {
        font-size: 16px;
        text-align: left;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .post_btn {
    background: $color-nav-text;
    color: white;
    border-radius: 7px;
    width: 133px;
    height: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
  }
  .text_tag {
    color: white;
    background-color: #d89771;
    border-radius: 60px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding:4px 10px;
    margin:10px 0px 0px;
  }  
}

.time-date{
  margin: 40px auto;
  font-size: 14px;
  width: 55%;
}

.time-date .date {
  color: #9E9E9E;
}

.time-date .author {
  color: #000000;  
}

.time-date .separator {
  color: #000000; 
  font-size: 20px; 
  font-weight: bold; 
  margin: 0 5px; 
}

@media (min-width: 344px) and  (max-width: 576px) {
  .posts {
    .categorie{
      display: none;
      visibility: hidden;
    }
      p{
        text-align: center;
        font-size: 12px;
      } 
    .grid-item{
      margin-top: 10px;
      .texter{
       width: -webkit-fill-available;
      }
    }
    .posts-grid {
      display: block;
      grid-gap: 20px;
      max-width: 1020px;
      margin: 0 auto;
    }
  }
}

@media (min-width:576px) and (max-width:992px){
  .posts{
      width: fit-content;
    h1{
      text-align: center;
    }
    .posts-grid{
      display: block;
    }
  }
}
