.testimonial {
  background-color: #d5d9c824;
  .container {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(
        150px,
        1fr
      );
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 150px;
    margin-bottom: 100px;
  }
  .texter {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    .paragraph {
      width: 245px;
    }
    .title {
      font-weight: bold;
    }
  }
  img {
    width: 100%;
    max-width: 120px;
    height: auto;
    margin-top: 50px;
  }
}

@media  (min-width: 375px) and (max-width: 576px) {
  .testimonial {
    img{
      margin-bottom: 30px;
    }
    .container{
      text-align: center;
    }
    background-color: #d5d9c824;
    .texter{
      .paragraph{
        width: auto;
        text-align: center;
      }
      .title{
        font-weight: bold;
        text-align: center;
      }
    }
    .container {
      display: block;
      padding-top: 100px;
      padding-bottom: 100px;
      gap: 150px;
      margin-bottom: 100px;
    }
  }
}

@media  (min-width: 576px) and (max-width: 992px) {
  .testimonial {
    img{
      margin-bottom: 30px;
    }
    .container{
      text-align: center;
    }
    background-color: #d5d9c824;
    .texter{
      .paragraph{
        width: auto;
        text-align: center;
      }
      .title{
        font-weight: bold;
        text-align: center;
      }
    }
    .container {
      display: block;
      padding-top: 100px;
      padding-bottom: 100px;
      gap: 150px;
      margin-bottom: 100px;
    }
  }
}


